button{
    width:60px;
    height:60px;
    background-color: white;
}
button:nth-child(even)
{
    background-color: black;
}
#submit
{
    background-color: tomato;
}
#crown{
    width: 30px;
    height: 30px;
    position: absolute;
    margin:2px;
}